html {
  background-color: aliceblue;
}

body {
  padding: 0;
  width: 1000px;
  margin: auto;
  background-color: white;
  min-height: 100vh;
}

header {
  height: 350px;
  width: 1000px;
  margin: auto;
  background-image: url("assets/2017-04-07-14-27-37.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

header > h1 {
  color: rgb(88, 177, 255);
  font-size: 48px;
  font-family: "Courier New", Courier, monospace;
}

.form-section {
  padding-top: 24px;
  display: flex;
  justify-content: center;
}

.form-section > form {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.form-section > form > input {
  margin-bottom: 20px;
}

.todo-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-list-container > .todo-list > li {
  text-decoration: none;
  list-style: none;
  background-color: rgb(179, 220, 255);
  border-radius: 26px;
  padding: 50px;
  margin-bottom: 30px;
  width: 300px;
}

.todo-list-container > .todo-list > li > h3 {
  font-size: 14px;
}

.todo-list-container > .todo-list > li > h2 {
  font-size: 28px;
  margin-top: 0px;
}
.todo-list-container > .todo-list > li > input {
  margin-bottom: 20px;
}

.todo-list-container > .todo-list > li > .button-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.todo-list-container
  > .todo-list
  > li
  > .button-section
  > .nav-btn
  > .btn-move {
  height: 38px;
  justify-content: space-evenly;
  background-color: white;
  border: none;
  border-radius: 15px;
}

.todo-list-container > .todo-list > li > .button-section > .btn-delete {
  background-color: red;
  border: none;
  height: 38px;
  border-radius: 15px;
  color: white;
  justify-self: flex-end;
}

.todo-list-container > .todo-list > li > .btn-row > .move {
  background-color: white;
  border: none;
  border-radius: 20px;
}
